# Banco de Dados
DB_USER=disciplina_user
DB_PASSWORD=disciplina_pass
DB_HOST=db

# Nomes dos Bancos de Dados
AUTH_DB_NAME=disciplina_me_auth
CALENDAR_DB_NAME=disciplina_me_calendar
SUBJECTS_DB_NAME=disciplina_me_subjects

# Secret Keys para cada serviço (Gere chaves seguras para produção)
AUTH_SECRET_KEY=django-insecure-auth-key-change-me
CALENDAR_SECRET_KEY=django-insecure-calendar-key-change-me
SUBJECTS_SECRET_KEY=django-insecure-subjects-key-change-me
DJANGO_SUPERUSER_USERNAME= admin
DJANGO_SUPERUSER_PASSWORD= admin
DJANGO_SUPERUSER_EMAIL= admin@admin.com
